<div id="accounts" class="row">
  <div id="accounts-list" class="col-lg-2 col-md-3">
    <div class="title">
      <h3><strong>Accounts</strong></h3>
      <button class="add-account" @click="newAccount()">+</button>
    </div>
    <ul class="groups-list">
      <li class="group" v-for="group in groups">
        <div><strong>
          <span class="group-title">{{group.name}}</span>
          <span class="balance">{{group.balance | currency}}</span>
        </strong></div>
        <ul class="accounts">
          <li>
            <strong>
            <a  @mouseenter="showEdit(account)" @mouseleave="hideEdit(account)" class="account" v-for="account in group.accounts">
              <span class="name">{{account.name}} <i v-show="account.displayEdit" class="fa fa-pencil" @click="editAccount(account)"></i></span>
              <span class="balance label label-default">{{account.balance | currency}}</span>
            </a>
            </strong>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <div id="transactions" class="col-lg-10 col-md-9">
    <transactions-table include-form></transactions-table>
  </div>
</div>

<accounts-modal v-ref:modal></accounts-modal>