#accounts {
  height: 100%;
  background-color: lightblue;

  #accounts-list {
    padding: 0;
    overflow-y: auto;
    .title {
      height: 3.75rem;
      padding: 1rem;
      h3 {
        @include pull-left;
      }
      .add-account {
        @extend .btn;
        @extend .btn-info;
        @include pull-right;
        margin-top: -0.3rem;
      }
    }
    .groups-list {
      @extend .list-group;
      .group {
        // height: 100%;
        &:not(:last-child) {
          margin-bottom: 0.6rem;
        }
        & > a {
          @extend .list-group-item;
          @include clearfix;
          border-bottom: $brand-info solid 0.15rem;
          .group-title {
            @include pull-left;

          }
        }
        .balance { // includes balance for accounts
          @include pull-right;
        }
        .accounts {
          @extend .list-group;
          li {
            .account {
              @extend .list-group-item;
              @include clearfix;
              display: inline-table;
              .name {
                @include pull-left;
              }
            }
          }
        }
      }
    }
  }

  #transactions {
    padding: 0;
    overflow-y: auto;
    background-color: $brand-primary;
  }
}

@import './account-form-modal/styles';
@import './account-group-form-modal/styles';
