.transactions-table {
  @extend .table-responsive;
  background-color: #e5eaf0;
  table {
    @extend .table;
    @extend .table-striped;
    thead {
      th {
        @extend .text-xs-center;
        &.column.selected .dropdown {
          a.dropdown-toggle {
            color: white;
            cursor: pointer;
          }
          a.dropdown-item {
            cursor: pointer;
          }
        }
      }
    }
    tbody {
      tr {
        &:hover {
          background-color: lightgray;
        }
        &.selected {
          background-color: #dcdcdc;
        }
      }
    }
  }

 .transaction-row {
    td {
      @extend .text-xs-center;
      padding: 0.25rem;
      &.column.selected {
        padding: 0.25rem 0.75rem;
      }
    }
  }

  .transaction-form-row {
    td {
      @extend .text-xs-center;
      padding: 0.25rem;
      .input-group {
        width: 100%;
        .input-group-addon {
          padding: 0.375rem;
        }
        input {
          width: 100%;
          padding: 1px;
        }
      }
      &.column {
        &.selected {
          padding: 0.25rem 0.75rem;
        }

        &.date {
          input {
            text-align: end;
            padding: 1px;
          }
        }

        &.payee, &.tags {
          input {
            font-size: initial;
          }
        }

        input, select {
          width: 100%;
          text-align: center;
          padding-top: 0.2rem;
          padding-bottom: 0.2rem;
        }
      }
    }
  }
}
