<div id="login">
  <div class="row">
    <form>
      <div class="card-block">
        <fieldset :class="{ 'has-danger': errors.username }">
          <label for="username">Username:</label>
          <input type="text" id="username" class="form-control" v-model="username" placeholder="Username">
          <small class="error-text" v-if="errors.username">Required</small>
        </fieldset>
        <fieldset :class="{ 'has-danger': errors.password }">
          <label for="password">Password</label>
          <input type="password" id="password" class="form-control" v-model="password" placeholder="Password">
          <small class="error-text" v-if="errors.password">Required</small>
        </fieldset>
        <div v-if="errors.message">{{errors.message}}</div>
        <button type="button" @click="loginUser(username, password)">Login</button>
      </div>
    </form>
  </div>
</div>