// Bootstrap Variable Overrides:

// $spacer:                     1rem !default;
$enable-flex:               true !default;
$enable-rounded:            false !default;
// $enable-shadows:            false !default;
// $enable-gradients:          false !default;
// $enable-transitions:        false !default;
// $enable-hover-media-query:  false !default;
// $enable-grid-classes:       true !default;

// $brand-primary: #0275d8 !default;
// $brand-success: #5cb85c !default;
// $brand-info:    #5bc0de !default;
// $brand-warning: #f0ad4e !default;
// $brand-danger:  #d9534f !default;

$brand-primary: #00bfbf !default;
$brand-success: #91cf91 !default;
$brand-info:    #ff8072 !default;
$brand-warning: #ffd166 !default;
$brand-danger:  #ef476f !default;

/////
