#app {
  height: 100%;
  width: 100%;

  .content {
    @extend .container-fluid;
    position: absolute;
    top: 54px;
    height: 100%;
    width: 100%;
  }
}

@import './components/styles';
@import './modules/styles';
