@import '_variables';
@import './lib/bootstrap-4.0.0-alpha.2/scss/bootstrap';

html {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  min-height: 100%;
  overflow: hidden;
  font-family: Helvetica, sans-serif;
  background: lightblue;
}

.v-link-active {
  @extend .active;
}

@import './app';
