<div class="transactions-table">
  <table>
    <thead class="thead-inverse">
      <tr>
        <th class="text-xs-center" class="column selected" v-if="columns.selected" :style="{ width: columns.selected + '%' }">
          <input type="checkbox" checked="true" disabled />
        </th>
        <th class="text-xs-center" class="column account" v-if="columns.account" :style="{ width: columns.account + '%' }">Account</th>
        <th class="text-xs-center" class="column date" v-if="columns.date" :style="{ width: columns.date + '%' }">Date</th>
        <th class="text-xs-center" class="column payee" v-if="columns.payee" :style="{ width: columns.payee + '%' }">Payee</th>
        <th class="text-xs-center" class="column tags" v-if="columns.tags" :style="{ width: columns.tags + '%' }">Tags</th>
        <th class="text-xs-center" class="column memo" v-if="columns.memo" :style="{ width: columns.memo + '%' }">Memo</th>
        <th class="text-xs-center" class="column amount" v-if="columns.amount" :style="{ width: columns.amount + '%' }">Amount</th>
        <th class="text-xs-center" class="column balance" v-if="columns.balance" :style="{ width: columns.balance + '%' }">Balance</th>
        <th class="text-xs-center" class="column state" v-if="columns.state" :style="{ width: columns.state + '%' }">State</th>
        <th class="text-xs-center"></th>
        <th class="text-xs-center"></th>
      </tr>
    </thead>
    <tbody>
      <tr is="transaction-form-row" v-if="includeForm" :columns="columns"></tr>
      <tr v-if="!transactions || !transactions.length">
        <td colspan="11" class="text-xs-center">No Transactions to Display</td>
      </tr>
      <template v-if="transactions && transactions.length" v-for="transaction in transactions">
        <tr v-if="transaction.edit" is="transaction-form-row" :transaction.sync="transaction" :columns="columns"></tr>
        <tr v-if="!transaction.edit" is="transaction-row" :transaction.sync="transaction" :columns="columns"></tr>
      </template>
    </tbody>
  </table>
</div>