<div class="transactions-table">
  <table>
    <thead class="thead-inverse">
      <tr>
        <th class="column selected" v-if="iColumns.selected" :style="{ width: iColumns.selected + '%' }">
          <div class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">
              <input type="checkbox" checked="true" disabled />
            </a>
            <div class="dropdown-menu">
              <!--<div class="dropdown-divider"></div>-->
              <a class="dropdown-item" @click="deleteTransactions()">Delete</a>
            </div>
          </div>
        </th>
        <th class="column account" v-if="iColumns.account" :style="{ width: iColumns.account + '%' }">Account</th>
        <th class="column date" v-if="iColumns.date" :style="{ width: iColumns.date + '%' }">Date</th>
        <th class="column payee" v-if="iColumns.payee" :style="{ width: iColumns.payee + '%' }">Payee</th>
        <th class="column tags" v-if="iColumns.tags" :style="{ width: iColumns.tags + '%' }">Tags</th>
        <th class="column memo" v-if="iColumns.memo" :style="{ width: iColumns.memo + '%' }">Memo</th>
        <th class="column amount" v-if="iColumns.amount" :style="{ width: iColumns.amount + '%' }">Amount</th>
        <th class="column balance" v-if="iColumns.balance" :style="{ width: iColumns.balance + '%' }">Balance</th>
        <th class="column state" v-if="iColumns.state" :style="{ width: iColumns.state + '%' }">State</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr is="transaction-form-row" v-if="includeForm" :columns="iColumns"></tr>
      <tr v-if="!transactions || !transactions.length">
        <td colspan="11" class="text-xs-center">No Transactions to Display</td>
      </tr>
      <template v-if="transactions && transactions.length" v-for="transaction in transactions | filterTransactions accountId">
        <tr v-if="transaction.edit" is="transaction-form-row" :transaction.sync="transaction" :columns="iColumns"></tr>
        <tr v-if="!transaction.edit" is="transaction-row" :transaction.sync="transaction" :columns="iColumns"></tr>
      </template>
    </tbody>
  </table>
</div>