<div class="transactions-table">
  <table>
    <thead class="thead-inverse">
      <tr>
        <th class="text-xs-center" class="column selected" v-if="iColumns.selected" :style="{ width: iColumns.selected + '%' }">
          <input type="checkbox" checked="true" disabled />
        </th>
        <th class="text-xs-center" class="column account" v-if="iColumns.account" :style="{ width: iColumns.account + '%' }">Account</th>
        <th class="text-xs-center" class="column date" v-if="iColumns.date" :style="{ width: iColumns.date + '%' }">Date</th>
        <th class="text-xs-center" class="column payee" v-if="iColumns.payee" :style="{ width: iColumns.payee + '%' }">Payee</th>
        <th class="text-xs-center" class="column tags" v-if="iColumns.tags" :style="{ width: iColumns.tags + '%' }">Tags</th>
        <th class="text-xs-center" class="column memo" v-if="iColumns.memo" :style="{ width: iColumns.memo + '%' }">Memo</th>
        <th class="text-xs-center" class="column amount" v-if="iColumns.amount" :style="{ width: iColumns.amount + '%' }">Amount</th>
        <th class="text-xs-center" class="column balance" v-if="iColumns.balance" :style="{ width: iColumns.balance + '%' }">Balance</th>
        <th class="text-xs-center" class="column state" v-if="iColumns.state" :style="{ width: iColumns.state + '%' }">State</th>
        <th class="text-xs-center"></th>
        <th class="text-xs-center"></th>
      </tr>
    </thead>
    <tbody>
      <tr is="transaction-form-row" v-if="includeForm" :columns="iColumns"></tr>
      <tr v-if="!transactions || !transactions.length">
        <td colspan="11" class="text-xs-center">No Transactions to Display</td>
      </tr>
      <template v-if="transactions && transactions.length" v-for="transaction in transactions | filterTransactions accountId">
        <tr v-if="transaction.edit" is="transaction-form-row" :transaction.sync="transaction" :columns="iColumns"></tr>
        <tr v-if="!transaction.edit" is="transaction-row" :transaction.sync="transaction" :columns="iColumns"></tr>
      </template>
    </tbody>
  </table>
</div>